.cardimage {
    cursor: pointer;
    /* border: 2px white solid; */
    background-color: white;
    border-radius: 10px;
    margin:10px;
    padding: 5px;
    display: flex;
    
}

.h2 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.valign {
    vertical-align: text-bottom;
}

/* table, th, td {
    border: 1px solid red;
  } */

table {
height:100%
}