.container {
    /* border: 2px black solid; */
    border-radius: 5px;
    background-color: white;
    margin:5px;
    padding: 2px;
    display: flex;
}

.img {
    max-width: 80%;
    max-height: auto;
}

.true {
    opacity: 1;
}

.false {
    opacity: 0.65;
}